/*--------------------------------------------------------------
>> TABLE OF CONTENTS:
----------------------------------------------------------------
1. Normalize
2. Typography
3. Invoice General Style
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2. Normalize
----------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type='checkbox'],
[type='radio'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*--------------------------------------------------------------
2. Typography
----------------------------------------------------------------*/
body,
html {
  color: #666;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6em;
  overflow-x: hidden;
  background-color: #f5f6fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: #111;
  padding: 0;
  margin: 0 0 20px 0;
  font-weight: 500;
  line-height: 1.2em;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p,
div {
  margin-top: 0;
  line-height: 1.5em;
}

p {
  margin-bottom: 15px;
}

ul {
  margin: 0 0 25px 0;
  padding-left: 20px;
  list-style: disc;
}

ol {
  padding-left: 20px;
  margin-bottom: 25px;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 15px;
  font-style: italic;
  font-size: 20px;
  line-height: 1.6em;
  margin: 0;
}

address {
  margin: 0 0 15px;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover {
  color: #007aff;
}

button {
  color: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

table {
  width: 100%;
  caption-side: bottom;
  border-collapse: collapse;
}

th {
  text-align: left;
}

td {
  border-top: 1px solid #dbdfea;
}

td {
  padding: 10px 15px;
  line-height: 1.55em;
}

th {
  padding: 10px 15px;
  line-height: 1.55em;
}

dl {
  margin-bottom: 25px;
}
dl dt {
  font-weight: 600;
}

b,
strong {
  font-weight: bold;
}

pre {
  color: #666;
  border: 1px solid #dbdfea;
  font-size: 18px;
  padding: 25px;
  border-radius: 5px;
}

kbd {
  font-size: 100%;
  background-color: #666;
  border-radius: 5px;
}

a:hover {
  color: #007aff;
}

ul {
  padding-left: 15px;
}

/*--------------------------------------------------------------
3. Invoice General Style
----------------------------------------------------------------*/
.tm_f10 {
  font-size: 10px;
}

.tm_f11 {
  font-size: 11px;
}

.tm_f12 {
  font-size: 12px;
}

.tm_f13 {
  font-size: 13px;
}

.tm_f14 {
  font-size: 14px;
}

.tm_f15 {
  font-size: 15px;
}

.tm_f16 {
  font-size: 16px;
}

.tm_f17 {
  font-size: 17px;
}

.tm_f18 {
  font-size: 18px;
}

.tm_f19 {
  font-size: 19px;
}

.tm_f20 {
  font-size: 20px;
}

.tm_f21 {
  font-size: 21px;
}

.tm_f22 {
  font-size: 22px;
}

.tm_f23 {
  font-size: 23px;
}

.tm_f24 {
  font-size: 24px;
}

.tm_f25 {
  font-size: 25px;
}

.tm_f26 {
  font-size: 26px;
}

.tm_f27 {
  font-size: 27px;
}

.tm_f28 {
  font-size: 28px;
}

.tm_f29 {
  font-size: 29px;
}

.tm_f30 {
  font-size: 30px;
}

.tm_f40 {
  font-size: 40px;
}

.tm_f50 {
  font-size: 50px;
}

.tm_light {
  font-weight: 300;
}

.tm_normal {
  font-weight: 400;
}

.tm_medium {
  font-weight: 500;
}

.tm_semi_bold {
  font-weight: 600;
}

.tm_bold {
  font-weight: 700;
}

.tm_m0 {
  margin: 0px;
}

.tm_mb0 {
  margin-bottom: 0px;
}

.tm_mb1 {
  margin-bottom: 1px;
}

.tm_mb2 {
  margin-bottom: 2px;
}

.tm_mb3 {
  margin-bottom: 3px;
}

.tm_mb4 {
  margin-bottom: 4px;
}

.tm_mb5 {
  margin-bottom: 5px;
}

.tm_mb6 {
  margin-bottom: 6px;
}

.tm_mb7 {
  margin-bottom: 7px;
}

.tm_mb8 {
  margin-bottom: 8px;
}

.tm_mb9 {
  margin-bottom: 9px;
}

.tm_mb10 {
  margin-bottom: 10px;
}

.tm_mb11 {
  margin-bottom: 11px;
}

.tm_mb12 {
  margin-bottom: 12px;
}

.tm_mb13 {
  margin-bottom: 13px;
}

.tm_mb14 {
  margin-bottom: 14px;
}

.tm_mb15 {
  margin-bottom: 15px;
}

.tm_mb16 {
  margin-bottom: 16px;
}

.tm_mb17 {
  margin-bottom: 17px;
}

.tm_mb18 {
  margin-bottom: 18px;
}

.tm_mb19 {
  margin-bottom: 19px;
}

.tm_mb20 {
  margin-bottom: 20px;
}

.tm_mb21 {
  margin-bottom: 21px;
}

.tm_mb22 {
  margin-bottom: 22px;
}

.tm_mb23 {
  margin-bottom: 23px;
}

.tm_mb24 {
  margin-bottom: 24px;
}

.tm_mb25 {
  margin-bottom: 25px;
}

.tm_mb26 {
  margin-bottom: 26px;
}

.tm_mb27 {
  margin-bottom: 27px;
}

.tm_mb28 {
  margin-bottom: 28px;
}

.tm_mb29 {
  margin-bottom: 29px;
}

.tm_mb30 {
  margin-bottom: 30px;
}

.tm_mb40 {
  margin-bottom: 40px;
}

.tm_pt25 {
  padding-top: 25px;
}

.tm_pt0 {
  padding-top: 0;
}

.tm_radius_6_0_0_6 {
  border-radius: 6px 0 0 6px;
}

.tm_radius_0_6_6_0 {
  border-radius: 0 6px 6px 0;
}

.tm_radius_0 {
  border-radius: 0 !important;
}

.tm_width_1 {
  width: 8.33333333%;
}

.tm_width_2 {
  width: 16.66666667%;
}

.tm_width_3 {
  width: 25%;
}

.tm_width_4 {
  width: 33.33333333%;
}

.tm_width_5 {
  width: 41.66666667%;
}

.tm_width_6 {
  width: 50%;
}

.tm_width_7 {
  width: 58.33333333%;
}

.tm_width_8 {
  width: 66.66666667%;
}

.tm_width_9 {
  width: 75%;
}

.tm_width_10 {
  width: 83.33333333%;
}

.tm_width_11 {
  width: 91.66666667%;
}

.tm_width_12 {
  width: 100%;
}

.tm_border {
  border: 1px solid #dbdfea;
}

.tm_border_bottom {
  border-bottom: 1px solid #dbdfea;
}

.tm_border_top {
  border-top: 1px solid #dbdfea;
}

.tm_border_left {
  border-left: 1px solid #dbdfea;
}

.tm_border_right {
  border-right: 1px solid #dbdfea;
}

.tm_round_border {
  border: 1px solid #dbdfea;
  overflow: hidden;
  border-radius: 6px;
}

.tm_accent_color,
.tm_accent_color_hover:hover {
  color: #007aff;
}

.tm_accent_bg,
.tm_accent_bg_hover:hover {
  background-color: #007aff;
}

.tm_accent_bg_10 {
  background-color: rgba(0, 122, 255, 0.1);
}

.tm_accent_bg_20 {
  background-color: rgba(0, 122, 255, 0.15);
}

.tm_green_bg {
  background-color: #34c759;
}

.tm_green_bg_15 {
  background-color: rgba(52, 199, 89, 0.1);
}

.tm_primary_bg,
.tm_primary_bg_hover:hover {
  background-color: #111;
}

.tm_primary_bg_2 {
  background-color: #000036;
}

.tm_danger_color {
  color: red;
}

.tm_primary_color {
  color: #111;
}

.tm_secondary_color {
  color: #666;
}

.tm_ternary_color {
  color: #b5b5b5;
}

.tm_white_color {
  color: #fff;
}

.tm_white_color_60 {
  color: rgba(255, 255, 255, 0.6);
}

.tm_gray_bg {
  background: #f5f6fa;
}

.tm_ternary_bg {
  background-color: #b5b5b5;
}

.tm_accent_10_bg {
  background-color: rgba(0, 122, 255, 0.1);
}

.tm_accent_border {
  border-color: #007aff;
}

.tm_accent_border_10 {
  border-color: rgba(0, 122, 255, 0.1);
}

.tm_accent_border_20 {
  border-color: rgba(0, 122, 255, 0.2);
}

.tm_accent_border_30 {
  border-color: rgba(0, 122, 255, 0.3);
}

.tm_accent_border_40 {
  border-color: rgba(0, 122, 255, 0.4);
}

.tm_accent_border_50 {
  border-color: rgba(0, 122, 255, 0.5);
}

.tm_primary_border {
  border-color: #111;
}

.tm_gray_border {
  border-color: #f5f6fa;
}

.tm_primary_border_2 {
  border-color: #000036;
}

.tm_secondary_border {
  border-color: #666;
}

.tm_ternary_border {
  border-color: #b5b5b5;
}

.tm_border_color {
  border-color: #dbdfea;
}

.tm_border_1 {
  border-style: solid;
  border-width: 1px;
}

.tm_body_lineheight {
  line-height: 1.5em;
}

.tm_invoice_in {
  position: relative;
  z-index: 100;
}

.tm_container {
  max-width: 880px;
  padding: 30px 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.tm_text_center {
  text-align: center;
}

.tm_text_uppercase {
  text-transform: uppercase;
}

.tm_text_right {
  text-align: right;
}

.tm_align_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tm_border_bottom_0 {
  border-bottom: 0;
}

.tm_border_top_0 {
  border-top: 0;
}

.tm_table_baseline {
  vertical-align: baseline;
}

.tm_border_none {
  border: none !important;
}

.tm_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tm_justify_between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tm__align_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tm_border_left_none {
  border-left-width: 0;
}

.tm_border_right_none {
  border-right-width: 0;
}

.tm_table_responsive {
  overflow-x: auto;
}
.tm_table_responsive > table {
  min-width: 600px;
}

.tm_50_col > * {
  width: 50%;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.tm_no_border {
  border: none !important;
}

.tm_grid_row {
  display: grid;
  grid-gap: 10px 20px;
  list-style: none;
  padding: 0;
}

.tm_col_2 {
  grid-template-columns: repeat(2, 1fr);
}

.tm_col_3 {
  grid-template-columns: repeat(3, 1fr);
}

.tm_col_4 {
  grid-template-columns: repeat(4, 1fr);
}

.tm_max_w_150 {
  max-width: 150px;
}

.tm_left_auto {
  margin-left: auto;
}

hr {
  background: #dbdfea;
  height: 1px;
  border: none;
  margin: 0;
}
/* Start Landing CSS */
.tm_brand img,
svg {
  width: initial;
  height: 50px;
}
.tm_landing_container {
  max-width: 1630px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.tm_nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}
.tm_nav li:not(:first-child) {
  margin-left: 35px;
}
.tm_header_in {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.tm_btn {
  display: inline-flex;
  padding: 10px 30px;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 500;
}
.tm_btn:hover {
  color: #fff;
  opacity: 0.8;
}

.tm_btn.tm_color_1 {
  background-color: rgba(0, 122, 255, 0.1);
  color: #007aff;
}
.tm_btn.tm_color_1:hover {
  background-color: rgba(0, 122, 255, 0.2);
  color: #007aff;
}
.tm_btn.tm_color_2 {
  background-color: rgba(52, 199, 89, 0.1);
  color: #34c759;
}
.tm_btn.tm_color_2:hover {
  background-color: rgba(52, 199, 89, 0.2);
  color: #34c759;
}

.tm_hero_btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -7px;
}

.tm_hero_btns > * {
  margin: 7px;
}

.tm_hero {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 120px 0;
  background-attachment: fixed;
}
.tm_hero .tm_landing_container {
  position: relative;
}

.tm_hero_img {
  position: absolute;
  right: 0;
  height: 100%;
  display: block;
  top: -44%;
  max-width: 55%;
}

.tm_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 150;
}

.tm_hero_title {
  font-size: 56px;
  margin-bottom: 20px;
}

.tm_hero_subtitle {
  font-size: 16px;
  line-height: 1.6em;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  max-width: 760px;
}

.tm_hero_mini_title {
  font-size: 20px;
  margin-bottom: 15px;
  color: #007aff;
}

.tm_hero_text {
  position: relative;
  z-index: 1;
  text-align: center;
}
.tm_landing_section_heading {
  margin-bottom: 50px;
}

.tm_section_title {
  font-size: 46px;
  font-weight: 500;
  margin-bottom: 10px;
}
.tm_section_subtitle {
  text-align: center;
  font-size: 16px;
  line-height: 1.6em;
  margin-bottom: 0;
}

.tm_section {
  padding: 120px 0;
}
.tm_demos {
  display: grid;
  grid-gap: 30px;
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
}
.tm_demo img {
  border-radius: 7px;
  transition: all 0.3s ease;
}
.tm_demo:hover img {
  transform: translateY(-5px);
}
.tm_demo h3 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0px;
  color: inherit;
}
.tm_demo p {
  margin: 0;
  font-size: 20px;
}

.tm_white_bg {
  background-color: #fff;
}

.tm_features {
  display: grid;
  grid-gap: 30px;
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
}
.tm_feature_box {
  border-radius: 7px;
  text-align: center;
  padding: 50px 15px;
  background-color: #f5f6fa;
}
.tm_feature_box_icon {
  height: 70px;
  width: 70px;
  margin: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tm_feature_box_icon svg {
  height: 30px;
  width: 30px;
}

.tm_feature_box h3 {
  margin: 20px 0 0;
  font-size: 18px;
}
.tm_feature_box.tm_color_1 .tm_feature_box_icon {
  color: #ff9400;
  background-color: rgba(255, 148, 0, 0.15);
}
.tm_feature_box.tm_color_2 .tm_feature_box_icon {
  color: #6056df;
  background-color: rgba(96, 86, 223, 0.15);
}
.tm_feature_box.tm_color_3 .tm_feature_box_icon {
  color: #4ad663;
  background-color: rgba(74, 214, 99, 0.15);
}
.tm_feature_box.tm_color_4 .tm_feature_box_icon {
  color: #1ac0fa;
  background-color: rgba(26, 192, 250, 0.15);
}
.tm_feature_box.tm_color_5 .tm_feature_box_icon {
  color: #f52b51;
  background-color: rgba(245, 43, 81, 0.15);
}
.tm_copyright {
  height: 75px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.6em;
  background-color: #fff;
}
.tm_footer {
  background-size: cover;
  background-position: top center;
}
.tm_footer .tm_landing_container {
  position: relative;
}
.tm_footer .tm_footer_title {
  font-size: 56px;
  font-weight: 500;
  margin-bottom: 35px;
}
.tm_footer .tm_footer_text {
  padding: 90px 0 100px;
  text-align: center;
}

.tm_parallax [class*='tm_to_'] {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.tm_to_up {
  margin-top: 20%;
}

.tm_footer .tm_btn {
  padding: 12px 35px;
}

@media (max-width: 1550px) {
  .tm_hero_img {
    max-width: 50%;
    top: -36%;
  }
}
@media (max-width: 1450px) {
  .tm_to_up {
    margin-top: 30%;
  }
}
@media (max-width: 1330px) {
  .tm_to_up {
    margin-top: 35%;
  }
}
@media (max-width: 1199px) {
  .tm_hero_img {
    display: none;
  }
  .tm_footer .tm_footer_text,
  .tm_hero_text {
    text-align: center;
  }
  .tm_demos {
    grid-gap: 25px;
  }
  .tm_features {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 991px) {
  .tm_demo h3 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 2px;
  }
  .tm_demo p {
    font-size: 14px;
  }
  .tm_section_title {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .tm_hero_title {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .tm_footer .tm_footer_title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .tm_section_subtitle {
    font-size: 14px;
  }
  .tm_hero_subtitle {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .tm_hero_title br,
  .tm_hero_subtitle br,
  .tm_footer .tm_footer_title br {
    display: none;
  }
  .tm_btn {
    padding: 10px 25px;
    font-size: 16px;
  }
  .tm_nav li:not(:first-child) {
    margin-left: 30px;
  }
  .tm_demos {
    grid-template-columns: repeat(2, 1fr);
  }
  .tm_features {
    grid-template-columns: repeat(2, 1fr);
  }
  .tm_hero_mini_title {
    font-size: 16px;
  }
  .tm_hero {
    padding: 70px 0;
  }
  .tm_nav li:nth-child(1),
  .tm_nav li:nth-child(2),
  .tm_nav li:nth-child(3) {
    display: none;
  }
  .tm_section_subtitle br {
    display: none;
  }
  .tm_section {
    padding: 70px 0;
  }
  .tm_landing_section_heading {
    margin-bottom: 35px;
  }
  .tm_footer .tm_footer_text {
    padding: 65px 0 70px;
  }
}
@media (max-width: 575px) {
  .tm_demos,
  .tm_features {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  .tm_btn {
    padding: 8px 15px;
    font-size: 14px;
  }
  .tm_nav li:not(:first-child) {
    margin-left: 20px;
  }
  .tm_demo h3 {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 10px;
  }
  .tm_feature_box {
    border-radius: 7px;
    padding: 20px 10px;
  }
  .tm_feature_box h3 {
    margin: 10px 0 0;
    font-size: 15px;
  }
  .tm_feature_box_icon svg {
    height: 24px;
    width: 24px;
  }
  .tm_feature_box_icon {
    height: 60px;
    width: 60px;
  }
  .tm_copyright {
    font-size: 14px;
    height: 70px;
  }
  .tm_footer .tm_btn {
    padding: 10px 25px;
  }
}
@media (max-width: 450px) {
  .tm_nav li:first-child,
  .tm_nav li:nth-child(2) {
    display: none;
  }
}
/* End Landing CSS */
