@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



@media print {
    .my_print {
      background-color: #f5f6fa !important;
      -webkit-print-color-adjust: exact !important;
    }
  
    .custom-blue-print {
      background-color: #007aff !important;
      -webkit-print-color-adjust: exact !important;
    }
  
    .custom-grey-Print {
      background-color: #b5b5b5 !important;
      -webkit-print-color-adjust: exact !important;
    }
  
    .custom-white-print {
      color: #fff !important;
      -webkit-print-color-adjust: exact !important;
    }
  
    .custom-charleston-green-print {
      background-color: #252526 !important;
      -webkit-print-color-adjust: exact !important;
    }
    .custom-raisin-black-print {
      background-color: #18191a !important;
      -webkit-print-color-adjust: exact !important;
    }
  
    .custom-light-blue-print {
      background-color: #007aff1a !important;
      -webkit-print-color-adjust: exact !important;
    }
  
    .custom-black-print {
      background-color: #111 !important;
      -webkit-print-color-adjust: exact !important;
    }
  }
  